.navbar {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 2rem;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-sizing: border-box;
  }
  
  .navbar-logo img {
    height: 40px; /* Adjust logo size */
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 2rem;
    right: 0;
    position: absolute;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: #1b0f37; /* Adjust text color */
    font-size: 1.5em;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .navbar-menu li a:hover {
    color: #C1666B; /* Add hover effect */
  }
  